<% include inc/head %>
<base href="/"/>
<link rel="stylesheet" href="/resource/list/list.css"/>
<script src="/resource/list/list.js"></script>
<% include inc/nav %>
<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-8">
                <div id="blog_list"></div>
            </main>
            <aside class="col-md-4">
                <!--<div class="widget widget-recent-posts">-->
                    <!--<h3 class="widget-title">Recent Posts</h3>-->
                    <!--<ul>-->
                        <!--<li>-->
                            <!--<a href="#">Adaptive Vs. Responsive Layouts And Optimal Text Readability</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#">Web Design is 95% Typography</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#">Paper by FiftyThree</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<div class="widget widget-archives">-->
                    <!--<h3 class="widget-title">Archives</h3>-->
                    <!--<ul>-->
                        <!--<li>-->
                            <!--<a href="#">November 2014</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#">September 2014</a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#">January 2013</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->

                <div class="widget widget-category" id="category_list">
                    <h3 class="widget-title">Category</h3>
                    <ul>
                        <%cates.forEach(function(item){%>
                            <li>
                                <a href="#<%=item.name%>" data-id="<%=item.id%>"><%=item.name%></a>

                            </li>
                                <% if(item.children){
                                        item.children.forEach(function(item){ %>
                            <li>
                                <a href="#<%=item.name%>" data-id="<%=item.id%>">--<%=item.name%></a>
                            </li>
                                <%  })
                                }%>
                        <%})%>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</div>
<% include inc/footer %>
<script type="text/x-handlebars" id="tpl_list">
    <article class="post post-1">
        <header class="entry-header">
            <h1 class="entry-title">
                <a href="/blog/details/id/{{id}}">{{title}}</a>
            </h1>
            <div class="entry-meta">
                <span class="post-category"><a href="#">{{category_name}}</a></span>

                <span class="post-date"><a href="#"><time class="entry-date" datetime="{{add_time_name}}">{{add_time_name}}</time></a></span>

                <span class="post-author"><a href="#">lee</a></span>

                <!--<span class="comments-link"><a href="#">4 Comments</a></span>-->
            </div>
        </header>
        <div class="entry-content clearfix">
            <p>
                {{{content}}}
            </p>
            <div class="read-more cl-effect-14">
                <a href="/blog/details/id/{{id}}" class="more-link">更多 <span class="meta-nav">→</span></a>
            </div>
        </div>
    </article>
</script>
<script src="/resource/js/script.js"></script>
<script>
    var tpl_list=Handlebars.compile($('#tpl_list').html());
    var list=new List({
        element:'#blog_list',
        url:'/blog/list',
        tpl:tpl_list,
        rowLimit:6,
        totalName:'count',
        dataName:'data',
        onrender:function(){
            $('body').scrollTop(0);
        }
    });
    $('#category_list a').click(function(){
       list.setOpts({
           param:{
                category:$(this).attr('data-id')
           }
       });
    });
</script>
</body>
</html>
